.header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100px;
    border: 2px solid #EEEEEE;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .content-app-name span {
    font-size: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #084785;
    margin-top: 10px;
  }
  
  .content-info-header {
    display: flex;
    flex-direction: column;
  }
  
  .user-label {
    margin-right: 10px;
    color: black;
    font-weight: bold;
  }
  
  .user-icon img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  
  .content-logo {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 240px;
    height: 90px;
    transition: all 0.5s ease;
    border-right: 2px solid #EEEEEE;
  }
  
  .content-logo.closed {
    transform: translateX(-71%);
    display: flex;
    justify-content: flex-end;
  }
  
  .menu__logo {
    display: block;
    height: auto;
    width: auto;
    background-color: #fff;
  }
  
  .menu__logo.open {
    transform: translateX(100%);
  }
  
  .menu__toggle-button {
    position: absolute;
    top: 10px;
    margin-left: 0px;
    color: #003AA5;
    padding: 5px 1px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s;
  }
  
  .menu__toggle-button.open {
    transform: translateX(130px);
  }
  
  .menu__toggle-button.closed {
    transform: translateX(-40px);
    transition: all 0.5s ease;
  }
  
  /* Estilos base para pantallas más pequeñas */
  @media only screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
  
    .content-app-name span {
      display: none;
    }
  
    .user-info {
      margin-top: 10px;
      justify-content: center;
    }
  
    .user-label {
      margin-right: 0;
    }
  
    .user-icon img {
      margin: 0;
    }
  
    .content-logo {
      width: 100%;
      align-items: center;
    }
  
    .menu__toggle-button {
      position: static;
      margin-top: 10px;
      margin-bottom: 5px;
      transform: none;
      align-items: flex-end;
    }
  }
  